**.NO
**.acn
**.acr
**.alg
**.aux
**.backup
**.bak
**.bbl
**.bcf
**.blg
**.dep
**.docx
**.dvi
**.fdb_latexmk
**.fls
**.glg
**.glo
**.gls
**.glsdefs
**.ist
**.log
**.maf*
**.mtc*
**.nav
**.odt
**.out
**.orig
**.rtf
**.run.xml
**.snm
**.tar
**.tdo
**.lof
**.text
**.toc
**.warnings
**.xdv
**.*~
**detexed
*.stats
.RData
.Rhistory
.Rproj.user
.Ruserdata
build/**
dep.list
tmp
/data/
testing.ipynb
__pycache__
random_stuff.py
.idea/
src/.ipynb_checkpoints/
*.txt
/plots/
src/PlotGenerator.py
**.ods
TODO
/Tesi/scaletta.txt
**.odp
**Tesi.pdf
**.swp
